
<div class="container">
    <br/>
    <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">
            Contacts
            <button type="button" class="btn btn-default btn-sm">
                <a href ng-click="add(contact)">
                    <span class="glyphicon glyphicon-plus"></span>  Add
                </a>
            </button>
            <div ng-hide="dataReceived"><img src="/images/throbber.gif" alt="Loading..." /></div>
        </div>

        <!-- Table -->
        <table class="table">
            <tr ng-repeat="contact in contacts">
                <td>
                    {{contact.name}} {{contact.lastName}}
                </td>
                <td><a href ng-click="edit(contact)"><i class="icon-edit"></i></a></td>
            </tr>
        </table>
    </div>
</div>