<div class="container"><br/>

    <div ng-hide="dataReceived">
        <img src="/images/throbber.gif" alt="Loading..."/>
    </div>

    <div class="panel panel-default"> <!-- Default panel contents -->
        <div class="panel-heading">
            <div class="container-fluid">
                <span class="navbar-brand">Edit contact</span>
            </div>
        </div>

        <div class="container-fluid">
            <br/>
            <form name="editForm">
                <div class="form-group">
                    <label for="inputName">Name</label>
                    <input type="text" class="form-control" id="inputName" placeholder="name" ng-model="data.name" autofocus required>
                </div>
                <div class="form-group" ng-class="{error: editForm.inputSurnames.$invalid}">
                    <label for="inputSurnames">Surnames</label>
                    <input type="text" class="form-control" id="inputSurnames"
                           placeholder="Surnames" ng-model="data.lastName" required>
                </div>
                <div class="navbar navbar-right">
                    <button class="btn btn-large btn-primary" ng-click="cancel($event)">
                        <i class="glyphicon glyphicon-floppy-remove"></i>
                        <span>Cancel</span>
                    </button>
                    <button class="btn btn-large btn-success" ng-click="save($event)" ng-disabled="editForm.$invalid">
                        <i class="glyphicon glyphicon-floppy-saved"></i>
                        <span>Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>