
<div class="container">
    <br/>
    <div ng-hide="dataReceived"><img src="/images/throbber.gif" alt="Loading..." /></div>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
                <div class="container-fluid">
                    <span class="navbar-brand">Phones</span>
                    <div class="col-lg-4 navbar-right">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                        <form class="navbar-form navbar-right" role="search">

                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search text">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </button>
                                    </span>
                                </div>

                        </form>
                    </div>
                    </div>
                </div>
        </div>

        <!-- Table -->
        <table class="table">
            <thead>
            <tr>
                <th style="width:20px;">id</th>
                <th style="min-width: 80px;">First name</th>
                <th style="min-width: 80px;">Last name</th>
                <th style="width:100px;">Actions</th>
            </tr>
            </thead>
            <tr ng-repeat="data in dataSource">
                <td>
                    {{data.id}}
                    <!--<input type="checkbox"> -->
                </td>
                <td>{{data.name}}</td>
                <td>{{data.lastName}}</td>
                <td>
                    <button type="button" class="btn btn-info btn-sm" ng-click="edit(data)">
                        <i class="glyphicon glyphicon-pencil"></i>
                        <!--<span>Edit</span>-->
                    </button>
                    <button type="button" class="btn btn-danger btn-sm" ng-click="delete(data)">
                        <i class="glyphicon glyphicon-trash"></i>
                        <!--<span>Delete</span>-->
                    </button>
                </td>
            </tr>
        </table>
        <div class="panel-footer">
                <div class="container-fluid">
                    <p class="navbar-text">
                        <button type="button" class="btn btn-success btn-sm" ng-click="add()">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>Add new</span>
                        </button>
                    </p>
                        <ul class="pagination navbar-right">
                            <li class="disabled"><a href="#">&laquo;</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                </div>
        </div>
    </div>

</div>